llama-index-core
llama-index-llms-openai
llama-index-agent-openai
fastembed
qdrant-client
tqdm
python-dotenv
pprintpp
pymupdf

langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
langchain-ollama
notebook
langgraph-cli
pypdf